.Normal_text {font-family:'Open Sans';font-weight:normal;font-style:normal;font-size:16px;text-decoration:none;text-transform: none;color:#434343;-webkit-text-stroke: 0px black;letter-spacing:0em;}
.Heading_1 {font-family:'Open Sans';font-weight:normal;font-style:normal;font-size:40px;text-decoration:none;text-transform: none;color:#434343;-webkit-text-stroke: 0px black;letter-spacing:0em;}
.Heading_2 {font-family:'xr2_Open Sans1';font-weight:bold;font-size:28px;}
.Heading_3 {font-family:'xr2_Open Sans1';font-weight:bold;font-size:24px;}
.Heading_4 {font-family:'xr2_Open Sans1';font-weight:bold;}
.TITLE {font-family:'Open Sans Light';font-weight:300;font-size:48px;}
.Normal_text_1 {font-size:24px;}
